<!-- Payments -->

<div id="payments-tab" class="tab-content hidden">
    <div class="flex flex-wrap gap-3 mb-8">

        <button class="cursor-pointer payment-filter active rounded-full px-5 py-2 bg-blue-900 text-white transition"
                data-status="">
            همه
        </button>

        <button class="cursor-pointer payment-filter rounded-full px-5 py-2 bg-gray-100 text-gray-700 hover:bg-gray-200 transition"
                data-status="paid">
            موفق
        </button>

        <button class="cursor-pointer payment-filter rounded-full px-5 py-2 bg-gray-100 text-gray-700 hover:bg-gray-200 transition"
                data-status="pending">
            در انتظار
        </button>

        <button class="cursor-pointer payment-filter rounded-full px-5 py-2 bg-gray-100 text-gray-700 hover:bg-gray-200 transition"
                data-status="failed">
            ناموفق
        </button>

    </div>
    <div class="bg-white rounded-3xl shadow-xl p-8">

        <div class="flex items-center justify-between mb-8">

            <h2 class="text-2xl font-bold text-blue-900">
                تاریخچه پرداخت‌ها
            </h2>
            <p
                    id="paymentCounter"
                    class="text-gray-500 mt-1">

            </p>
        </div>

        <div
                id="paymentsContainer"
                class="grid gap-6">

        </div>
        <div
                id="paymentsPagination"
                class="mt-8 flex items-center justify-center gap-4">

        </div>

    </div>

</div>