

<div id="rabbiesection"
     class="relative max-w-lg mx-auto
            bg-gradient-to-br from-blue-800 to-blue-900
            rounded-3xl shadow-2xl py-5 px-4">

    <button id="rabbi-prev"
            class="absolute left-3 top-1/2 -translate-y-1/2 z-10 w-12 h-12 rounded-full bg-white shadow-lg">
        ◀
    </button>

    <div class="embla">
        <div class="embla__container" id="rabbi-carousel">
        </div>
    </div>

    <button id="rabbi-next"
            class="absolute right-3 top-1/2 -translate-y-1/2 z-10 w-12 h-12 rounded-full bg-white shadow-lg">
        ▶
    </button>

    <div id="carousel-dots"
         class="flex justify-center gap-2 mt-8">
    </div>

</div>