<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}تلمود 26{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/tailwind.css') }}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', path='css/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <script defer src="{{ url_for('static', path='js/site.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body class="bg-gray-50 text-slate-800">


<!-- محتوای متغیر هر صفحه اینجا قرار می‌گیرد -->


{% block content %}{% endblock %}

<!-- Footer مشترک -->
<footer class="bg-blue-900 text-white py-8 mt-20">
    <div class="container mx-auto px-6 text-center">
        <p>Full Stack Designed And Developed By : <strong style="color: red">Pedram Pourhakim</strong></p>
    </div>
</footer>
</body>
</html>
